DEBUG=True
DJANGO_APP_NAME="iccu-visitor"
DJANGO_ALLOWED_HOSTS=*
DJANGO_CSRF_TRUSTED_ORIGINS=http://localhost:80,
DJANGO_CORS_ALLOWED_ORIGINS=http://localhost:80,
SECRET_KEY=8b35c473b27b71464b62e3c7087a254eafd3171239096e5e6cceeddd0a0ac858

# --- POSTGRES ---
POSTGRES_HOST=db
POSTGRES_DB=iccu_db
POSTGRES_USER=iccu_db_user
POSTGRES_PASSWORD=12345
POSTGRES_PORT=5432s