<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Политика конфиденциальности | iccu</title>
</head>
<body>
<h1>Политика конфиденциальности приложения iccu</h1>
<p><em>Приложение iccu (далее – «Приложение», «мы», «нас» или «наш») серьёзно относится к конфиденциальности ваших данных. Мы не собираем, не используем и не передаем данные пользователей третьим лицам.</em></p>

<h2>1. Сбор данных</h2>
<p>
Приложение не собирает и не хранит персональные данные пользователей.
Регистрация и создание учетной записи не требуются.
</p>

<h2>2. Передача данных третьим лицам</h2>
<p>Мы не передаем никакие данные третьим лицам, так как не собираем их.</p>

<h2>3. Права пользователей</h2>
<p>Приложение не использует персональные данные пользователей.</p>

<h2>4. Безопасность данных</h2>
<p>Так как Приложение не собирает и не хранит никакие данные, вопросы безопасности информации не актуальны.</p>

<h2>5. Изменения в Политике конфиденциальности</h2>
<p>Мы оставляем за собой право вносить изменения в настоящую Политику конфиденциальности. Все изменения будут опубликованы в Приложении, и мы уведомим вас о значительных изменениях.</p>

<h2>6. Контактная информация</h2>
<p>Если у вас есть вопросы по поводу настоящей Политики конфиденциальности или работы Приложения, вы можете связаться с нами по адресу: info@iccu.uz.
 Настоящая Политика конфиденциальности является важным документом, который помогает нам обеспечить безопасную работу Приложения и защиту ваших данных.</p>
</body>
</html>
